.idea
.ipynb_checkpoints
.mypy_cache/*
__pycache__
output/*
output_short/
fact.c2m
plotly.ipynb
xfact.c2m
burnup_rowland_analyses.txt
burnup_step_text.txt
run_short.py
CGN_PIN_A_short.x2m
*.png
*.eps
*.csv
*.pdf
*.txt
*.pickle
*.mat
other/*
examples
output_*
TBH_*
venv